{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Action <span class="text-muted">Movies.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>
        
      
            <hr class="featurette-divider">

{% endblock %}