        {% load staticfiles %}

    <!DOCTYPE html>
    <html lang="en">
        <head></head>
        <!--

         NAVBAR
        ==========================================…

        -->
        <body>
            <div class="navbar-wrapper"></div>
            <!--

             Carousel
                ====================================…

            -->
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!--

                 Indicators 

                -->
                <ol class="carousel-indicators"></ol>
                <div class="carousel-inner">
                    <div class="item">
                        <img alt="First slide" src="data:image/gif;base64,R0lGODlh…AAAAAALAAAAAABAAEAAAICRAEAOw=="></img>
                        <div class="container"></div>
                    </div>
                    <div class="item active"></div>
                    <div class="item"></div>
                </div>
                <a class="left carousel-control" data-slide="prev" role="button" href="#myCarousel"></a>
                <a class="right carousel-control" data-slide="next" role="button" href="#myCarousel"></a>
            </div>
            <!--

             /.carousel 

            -->
            <!--

             Marketing messaging and featurettes
                =========…

            -->
            <!--

             Wrap the rest of the page in another container to…

            -->
            <div class="container marketing"></div>
            <!--

             /.container 

            -->
            <!--

             Bootstrap core JavaScript
                ===================…

            -->
            <!--

             Placed at the end of the document so the pages lo…

            -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="../../dist/js/bootstrap.min.js"></script>
            <script src="../../assets/js/docs.min.js"></script>
            <!--

             IE10 viewport hack for Surface/desktop Windows 8 …

            -->
            <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
            <div id="global-zeroclipboard-html-bridge" class="global-zeroclipboard-container" style="position: absolute; left: 0px; top: -9999px; width: 15px; height: 15px; z-index: 999999999;" title="" data-original-title="Copy to clipboard"></div>
        </body>
    </html>

